[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/sitwo-project-backend
ExecStart=/home/ubuntu/sitwo-project-backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          dental_clinic_backend.wsgi:application

[Install]
WantedBy=multi-user.target